:root {
	--jd-bg: #000000;
	--jd-primary: #ffc107;
	--jd-white: #ffffff;
	--jd-plain: #cccccc;
	--jd-dim: #999999;
	--jd-dark: #666666;
	--jd-text-dark: #222222;
	--jd-bg-dark: #222222;
	--jd-bad: #d36969;
	--jd-good: #69d3a6;
	--jd-border: #e5e5e5;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: var(--jd-bg);
	color: var(--jd-plain);
}
#x-like-layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}
ul > li {
	color: var(--jd-plain) !important;
}

a {
	color: var(--jd-primary) !important;
}
a:hover {
	color: var(--jd-text-dark) !important;
	background-color: var(--jd-primary) !important;
}

.post-title a {
	color: var(--jd-plain) !important;
}
.post-title a:hover,
.logo a:hover {
	color: var(--jd-primary) !important;
	background-color: transparent !important;
}

.nav-next,
.nav-prev {
	left: 0 !important;
}

a.unlike,
.comment-row .xx {
	color: var(--jd-bad) !important;
}
.comment-row .oo {
	color: var(--jd-primary) !important;
}
div.hot-title {
	background-color: var(--jd-bg-dark) !important;
}

div.post-tag > a {
	color: var(--jd-text-dark) !important;
}
div.post-excerpt {
	color: var(--jd-dim) !important;
}
div.post-comment-count {
	display: none !important;
}
.comment-content {
	color: var(--jd-plain) !important;
}
h3.nav-header {
	color: var(--jd-dark) !important;
}
nav.breadcrumb {
	background-color: transparent !important;
}

div.search-form {
	background-color: transparent !important;
}
input {
	background-color: var(--jd-bg-dark) !important;
	color: var(--jd-plain) !important;
	border: 1px solid var(--jd-plain);
	border-radius: 12px;
	padding: 12px 16px !important;
}
div.tucao-hot {
	background-color: transparent !important;
	color: var(--jd-plain) !important;
	border-left: 0.5em solid var(--jd-primary) !important;
}
div.tucao-hot > h3 {
	background-color: var(--jd-primary) !important;
	color: var(--jd-text-dark) !important;
}
div.tucao-container {
	background-color: var(--jd-bg) !important;
	color: var(--jd-plain) !important;
	border: 1px solid var(--jd-plain);
}
textarea.tucao-content {
	background-color: var(--jd-bg-dark) !important;
	color: var(--jd-plain) !important;
	border-color: var(--jd-primary) !important;
}

ul.hot-tabs > li.current {
	background-color: var(--jd-bg-dark) !important;
	color: var(--jd-primary) !important;
}
button {
	background-color: var(--jd-bg-dark) !important;
	color: var(--jd-primary) !important;
	border: 1px solid var(--jd-plain) !important;
	cursor: pointer;
}
button.active {
	background-color: var(--jd-primary) !important;
	color: var(--jd-text-dark) !important;
}

.post blockquote {
	background-color: var(--jd-bg-dark) !important;
	color: var(--jd-plain) !important;
	border-left: 4px solid var(--jd-good) !important;
	padding: 12px 16px;
}

div.page-navi > a {
	background-color: transparent !important;
	border: 1px solid var(--jd-plain) !important;
}

.nav-next,
.nav-prev {
	font-size: 8em;
	position: sticky;
	height: fit-content;
	top: 40%;
}
#header {
	color: white;
	padding: 12px;
	margin-bottom: 32px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
#layout-row {
	display: flex;
	flex: 1;
	max-width: 1250px;
	margin: 0 auto;
	width: 100%;
	gap: 16px;
	padding: 16px;
	box-sizing: border-box;
}
nav#nav {
	background-color: transparent !important;
}
.new-nav {
	flex: 0 0 200px;
	padding: 16px;
	border-radius: 12px;
	height: fit-content;
	position: sticky;
	top: 16px;
}

.member-nav .active {
	background-color: transparent !important;
}
.member-nav .active > a,
.member-nav .active > a:hover {
	background-color: var(--jd-primary) !important;
	color: var(--jd-text-dark) !important;
}

div#navbar {
	flex-direction: column !important;
	align-items: start;
}
div#navbar > div {
	position: relative !important;
}
ul.navbar-nav {
	flex: 0 0 200px;
	flex-direction: column !important;
}
.main .header-h1 {
	background-color: transparent !important;
}
main.main {
	flex: 1;
	background-color: transparent;
	padding: 0px 16px;
	border-radius: 0px;
}
aside.sidebar {
	flex: 0 0 300px;
	background-color: transparent !important;
	padding: 16px;
	border-radius: 12px;
	border: 1px solid var(--jd-border);
	height: fit-content;
	position: sticky;
	top: 16px;
}
#footer {
	background-color: #1da1f2;
	color: white;
	text-align: center;
	padding: 12px;
}
@media (max-width: 768px) {
	#layout-row {
		flex-direction: column;
	}
	#nav,
	aside.sidebar {
		display: none;
	}
}
.ugc-form textarea {
	background-color: var(--jd-bg-dark) !important;
	color: var(--jd-plain) !important;
	border: 1px solid var(--jd-plain);
	padding: 12px 16px;
}

.top-nav > div.nav-item.current {
	background-color: var(--jd-primary) !important;
}
.top-nav > div.nav-item.current > a {
	color: var(--jd-text-dark) !important;
}
.top-nav > div.nav-item > a:hover {
	color: var(--jd-text-dark) !important;
	background-color: var(--jd-primary) !important;
	border-radius: 0px;
}

.navbar {
	align-items: stretch;
	background-color: rgba(0, 0, 0, 0);
	border: 0 solid black;
	box-sizing: border-box;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-shrink: 0;
	list-style: none;
	margin: 0px;
	min-height: 0px;
	min-width: 0px;
	padding: 0px;
	position: relative;
	text-decoration: none;
	z-index: 0;
}
.nav-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 4px 0px !important;
	background-color: rgba(0, 0, 0, 0);
	border: 0 solid black;
	box-sizing: border-box;
	flex-basis: auto;
	flex-direction: column;
	flex-shrink: 0;
	list-style: none;
	margin: 0px;
	min-height: 0px;
	min-width: 0px;
	position: relative;
	text-decoration: none;
	z-index: 0;
}
.nav-item > a {
	display: flex;
	color: var(--jd-plain) !important;
	border-radius: 9999px;
	padding: 12px 20px !important;
	cursor: pointer;
	font-weight: 1000;
	font-size: 18px;
}

.nav-item > a:hover {
	background-color: var(--jd-bg-dark) !important;
	transition: background-color 0.2s;
}

.nav-icon {
	width: 24px !important;
	height: 24px !important;
	margin-right: 12px;
	display: block;
}

div#float-window {
	display: none !important;
}

.logo {
	position: relative;
	width: 120px;
	height: 50px;
	overflow: hidden;
	margin: 0px 0px 20px 20px;
}
